/* ================================================
   BASE STYLES. DEFAULTS
   ================================================ */
/*Trick for Anchor Links*/
.tour:before {
  display: block;
  content: " ";
  margin-top: -140px;
  height: 140px;
  visibility: hidden;
  /* negative fixed header height */ }

* {
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Cabin', sans-serif; }

img {
  width: 100%; }

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

blockquote {
  font-style: italic; }

ul li {
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  font-weight: bold; }

/* ================================================
   HEADER AND NAVBAR
   ================================================ */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  padding-top: 0;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center; }

/* === BIRD LOGO === */
.logo {
  width: 15%;
  height: auto;
  padding-left: 3%;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center; }

/* === WEBSITE NAME === */
.name {
  font-family: 'Londrina Solid', cursive;
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 4%;
  text-decoration: none !important;
  color: black !important; }

.name:hover {
  color: black; }

/* === BURGER MENU === */
.burger {
  display: block;
  height: 26px;
  width: 100%;
  cursor: pointer;
  padding-left: 90%; }

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  padding-right: 25px;
  margin: 0 0 5px 0;
  overflow: hidden;
  height: 0; }

.open {
  height: auto; }

.navbar li {
  padding: 4px 10px 0px 10px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center; }

.navbar li a {
  display: inline-block;
  padding: 0 100px; }

/* === BANNER === */
#banner {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: black;
  font-weight: bold;
  width: 100%;
  height: 29em;
  background-image: url("../img/barcelona4.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  padding-bottom: 10%; }

/* === BANNER TITLE === */
.bannertitle {
  font-family: 'Londrina Solid', cursive;
  color: white;
  text-transform: uppercase;
  text-align: center;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black; }

h2.bannertitle {
  margin-bottom: 0px;
  font-size: 2.6em; }

h5.bannertitle {
  margin-top: 10px;
  font-size: 1.2em; }

/* ================================================
   BODY
   ================================================ */
/* === CITIES NAVBAR === */
.cities {
  position: relative;
  background: white;
  top: auto;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  z-index: auto;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

/* === FIXED FOR WHEN THE VIEWPORT SCROLLS DOWN - STICKY NAVBAR TO THE TOP OF THE PAGE === */
.nav_fix {
  position: fixed;
  background: white;
  top: 0;
  z-index: 150;
  padding-top: 0; }

.cities ul {
  margin-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.cities ul li a {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%; }

.cities {
  margin-bottom: 0%;
  border-bottom: 1px solid grey; }

.listitem:hover {
  background-color: black;
  color: white; }

.navitem:hover {
  background-color: black;
  color: white; }

/*WRAPPER*/
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 8%; }

/* === PRIMARY CONTENT (TOURS) === */
.primary_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 90%; }

/* === EXTRA INFO FOR EVERY TOUR === */
.extra_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%; }

.extra_info > .scroll_up {
  width: 20%;
  height: 5%; }

/* === LINKS === */
ul a,
ul a:link,
ul a:hover,
ul a:visited {
  text-decoration: none;
  color: black; }

a,
a:link,
a:hover,
a:visited {
  text-decoration: none; }

a:link {
  text-decoration: underline;
  color: blue; }

a:hover {
  color: blue;
  font-weight: bold; }

/* === STYLING OF BULLET POINTS === */
li {
  list-style-type: none; }

/* ================================================
   FOOTER
   ================================================ */
footer {
  border-top: black thick solid;
  width: 100%;
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 4%;
  /*     background-color:#22313F; */
  background-color: #22313F;
  color: white; }

footer div a {
  color: white !important; }

footer .navitem {
  color: white; }

footer .listitem {
  color: white; }

footer footer_menu1,
footer footer_menu2 {
  width: 45%; }

.money_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.money_icons > * {
  padding: 0 3px; }

.legal {
  text-align: center; }

.newsletter_button {
  border: none;
  background-color: #44c767;
  padding-left: 0;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 9px 16px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em; }

.newsletter_button:hover {
  background-color: #d93434; }

.newsletter_button:active {
  position: relative;
  top: 1px; }

footer form [type=email] {
  width: 60% !important;
  height: 36px;
  padding-right: 0;
  color: black;
  font-family: 'Cabin', FontAwesome; }

footer > * {
  padding-top: 5%; }

.footer_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 4%; }

.footer_menu > * {
  width: 50%; }

.folow_us p {
  padding-bottom: 0; }

.follow_us ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding-top: 0; }

.follow_us ul li {
  padding: 0 4px; }

/* === PAYMENT ICONS === */
.fa-cc-amex {
  color: #3FA2DB; }

.fa-cc-mastercard {
  color: #FE9903; }

.fa-cc-visa {
  color: #0023A0; }

.fa-cc-paypal {
  color: #009BE1; }

.fa-google-wallet {
  color: #D44F46; }

/* === OVERRULE COLORS WITH IMPORTANT === */
.footer_menu .navitem:hover {
  color: black !important;
  background-color: white; }

.footer_menu .listitem:hover {
  color: black !important;
  background-color: white; }

/* ================================================
   SIDEBAR
   ================================================ */
.sidebar {
  background: #ECECEC;
  display: none;
  -webkit-box-shadow: 200px 0px #ECECEC;
  box-shadow: 200px 0px #ECECEC; }

.sidebar p,
.sidebar ol,
.sidebar blockquote {
  font-size: 0.9em; }

.fa-facebook-official {
  color: #3A5795; }

.fa-twitter-square {
  color: #1DA1F2; }

.fa-github {
  color: black; }

.fa-linkedin {
  color: #1D87BD; }

.fa-instagram {
  color: #58453E; }

/* ================================================
   BUTTONS STYLES
   ================================================ */
/* === CHECKOUT BUTTON === */
.checkout {
  background-color: #2ecc70;
  border-radius: 13px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 9px 16px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #92b879; }

.checkout:hover {
  background-color: #16a084; }

.checkout:active {
  position: relative;
  top: 1px; }

/* === SMALL DIV WITH BUTTONS === */
.main_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.exception li {
  text-transform: none; }

/* === SHOW DETAILS BUTTON === */
.show_details {
  border: none;
  background-color: #33bdef;
  border-radius: 13px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 9px 16px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #5b6178; }

.show_details:hover {
  background-color: #019ad2; }

.show_details:active {
  position: relative;
  top: 1px; }

/* === ADD TO CART BUTTON === */
.buy {
  background-color: #3fc381;
  border-radius: 13px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 9px 16px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #92b879; }

.buy:hover {
  background-color: #00b16a;
  color: white; }

.buy:active {
  position: relative;
  top: 1px; }

/* === REMOVE ADD TO CART BUTTON === */
.selected {
  background-color: #ef4936;
  border-radius: 13px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 9px 16px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #5b6178; }

.selected:hover {
  background-color: #cf000e;
  color: white; }

.selected:active {
  position: relative;
  top: 1px; }

/* === FADE UP BUTTON === */
.scroll_up {
  margin: 0 auto;
  border: none;
  background-color: #f64747;
  border-radius: 13px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 9px 16px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #5b6178; }

.scroll_up:hover {
  background-color: #f62458; }

.scroll_up:active {
  position: relative;
  top: 1px; }

/* === SMALL ARROW DOWN BUTTON === */
.down {
  background-color: #fffcff;
  border-radius: 42px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  padding: 2px 9px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #154682; }

.down:hover {
  background-color: black; }

.down:active {
  position: relative;
  top: 1px; }

/* === FONT AWESOME CHANGING COLOURS === */
.fa-caret-down {
  color: black; }

.fa-caret-down:hover {
  color: white; }

.fa-trophy {
  color: red; }

/*SPAN IMAGES*/
.divimage {
  position: relative; }

.spanimage {
  position: absolute;
  background-color: black;
  opacity: 0.7;
  color: white;
  font-weight: bold;
  width: 100%;
  top: 80%;
  bottom: 2%;
  padding: 10px 10px;
  text-align: center;
  left: -99999px; }

.divimage:hover .spanimage {
  left: 0; }

/* ================================================
   HELPER CLASSES (HTML5 BOILERPLATE)
   ================================================ */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* """""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
   MEDIA QUERIES WITH 4 BREAKPOINTS FOR RESPONSIVE
   """"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""" */
/* ================================================
   FIRST BREAKPOINT (1/4) 630PX
   ================================================ */
/* === OPENS UP THE BURGER MENU AND FIX SOME STATS ON THE WEBSITE FOR BETTER READABILITY === */
@media screen and (min-width: 630px) {
  .name {
    font-size: 3.5em; }
  .burger {
    display: block;
    overflow: hidden;
    height: 0;
    width: 100%;
    cursor: pointer;
    padding-left: 90%; }
  .logo {
    width: 160px;
    height: 80px; }
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    padding-right: 25px;
    margin: 0 0 5px 0;
    overflow: visible;
    height: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .open {
    height: auto; }
  .navbar li {
    padding: 4px 10px 0px 10px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center; }
  .navbar li a {
    display: inline-block;
    padding: 0 15px; }
  /* FOOTER */
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  footer > * {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 24%;
    flex: 1 1 24%;
    padding-top: 2%; } }

/* ================================================
   SECOND BREAKPOINT (2/4) 800PX
   ================================================ */
/* === ONE COLUMN LAYOUT , DISTRIBUTING THE TOUR ELEMENTS IN A BETTER WAY FOR READABILITY === */
@media screen and (min-width: 800px) {
  .tour {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-bottom: 2%; }
  .logo {
    width: 160px;
    height: 80px; }
  .tour h2 {
    width: 100%; }
  .tour > div:first-of-type {
    width: 50%;
    height: 100%; }
  .tour > p:first-of-type {
    padding-left: 3%;
    padding-top: 0;
    width: 50%; }
  .tour > blockquote {
    width: 100%; }
  .tour .main_buttons {
    margin: 0 auto;
    width: 100%; }
  .extra_info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
  .extra_info > * {
    width: 100%; }
  .extra_info h3,
  .extra_info h4 {
    width: 100%; }
  .extra_info iframe:nth-of-type(1) {
    width: 60%;
    padding-right: 2%;
    height: 280px; }
  .extra_info ul {
    width: 90%; }
  .extra_info iframe:nth-of-type(2) {
    width: 40%;
    height: 280px; }
  .extra_info > p {
    width: 45%;
    padding-right: 2%;
    padding-left: 2%; }
  .extra_info .enlarge {
    width: 100%; }
  .extra_info > div {
    width: 50%;
    height: 100%; }
  .exception {
    padding-bottom: 2%; }
  /* FOOTER */
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  footer > * {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 22%;
    flex: 1 1 22%;
    padding: 0; }
  .legal {
    padding-top: 3%;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%; } }

/* ================================================
   THIRD BREAKPOINT (3/4) 1100PX
   ================================================ */
/* === TO CREATE A TWO COLUMN LAYOUT USING FLEXBOX HAVING TWO TOURS PER VIEWPORT === */
@media screen and (min-width: 1100px) {
  .title {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: baseline; }
  .logo {
    width: 160px;
    height: 80px; }
  .navbar li a {
    display: inline-block;
    padding: 0 35px; }
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 90%;
    margin: 0 auto; }
  .primary_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 95%; }
  .tour {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    padding: 0% 2%; }
  .tour:nth-child(even) {
    border-left: 1px solid grey; }
  img {
    height: 310px; }
  .main_buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .tour {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    padding-bottom: 2%; }
  .tour > div,
  .tour > p,
  tour > h2,
  tour > h3,
  .tour > h4 {
    width: 100%; }
  .tour > div:first-of-type {
    width: 100%;
    height: 100%; }
  .tour > p:first-of-type {
    width: 100%; }
  .extra_info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .extra_info h3,
  .extra_info h4 {
    width: 100%; }
  .extra_info iframe:nth-of-type(1) {
    width: 100%;
    height: 300px; }
  .extra_info iframe:nth-of-type(2) {
    width: 100%;
    height: 300px; }
  .extra_info > p {
    width: 100%; }
  .extra_info > div {
    width: 100%;
    height: 100%; } }

/* ================================================
   FOURTH BREAKPOINT (4/4) 1400PX
   ================================================ */
/* === SHOWS THE SIDEBAR === */
@media screen and (min-width: 1400px) {
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    position: relative;
    width: 90%; }
  .primary_content {
    width: 80%; }
  .sidebar {
    width: 20%;
    padding: 4% 1% 0 1%;
    border-left: 1px solid grey;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .sidebar ul {
    padding-top: 0;
    width: 50%;
    padding: 1%; }
  .sidebar ul li a {
    width: 90%;
    display: block; }
  .side_lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 2%; }
  .cities_sidebar {
    border-left: 1px dotted green; }
  .sidebar .social_links {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .sidebar p a:link {
    text-decoration: underline; } }

/* """""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
   OTHER PAGES ON THE WEBSITE (FAQ AND CONTACT US) + MEDIA QUERIES
   """"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""" */
/* ================================================
   FAQ PAGE
   ================================================ */
/* === FAQ BANNER === */
.wrapper_faq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 75%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto; }

#banner_faq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: black;
  font-weight: bold;
  width: 100%;
  height: 20em;
  background-image: url("../img/FAQ_Opacity.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  padding-bottom: 5%; }

.bannertitle {
  font-family: 'Londrina Solid', cursive;
  color: white;
  text-transform: uppercase;
  text-align: center;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black; }

h2.bannertitle {
  margin-bottom: 0px;
  font-size: 2.6em; }

h5.bannertitle {
  margin-top: 10px;
  font-size: 1.2em; }

/* === FAQ QUESTIONS === */
.fa-plus,
.fa-minus {
  color: white; }

.accordion {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 2%; }

.questions {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border: 4px white solid;
  padding: 4px; }

.question_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #2C3E50;
  width: 90%;
  color: white;
  border-radius: 6px; }

.question_header button,
.question_header p {
  background-color: #2C3E50;
  border: none;
  padding: 2px 9px; }

.questions .answer_faq {
  width: 90%;
  padding: 0 2%;
  border-left: 1px solid #2C3E50; }

.questions .answer_faq p {
  display: none; }

@media screen and (min-width: 1100px) {
  .accordion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .accordion > * {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 45%;
    flex: 1 1 45%; }
  .answer_faq {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; } }

/* ================================================
   CONTACT PAGE
   ================================================ */
.wrapper_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 90%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto; }

#banner_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: black;
  font-weight: bold;
  width: 100%;
  height: 20em;
  background-image: url("../img/spartacus_contact.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  padding-bottom: 5%; }

.bannertitle {
  font-family: 'Londrina Solid', cursive;
  color: white;
  text-transform: uppercase;
  text-align: center;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black; }

h2.bannertitle {
  margin-bottom: 0px;
  font-size: 2.6em; }

h5.bannertitle {
  margin-top: 10px;
  font-size: 1.2em; }

form [type=email],
form [type=text],
form [type=password] {
  width: 100%;
  height: 36px;
  padding-right: 0;
  color: black;
  font-family: 'Cabin', FontAwesome; }

textarea {
  width: 100%;
  height: 70px;
  padding-right: 0;
  color: black;
  font-family: 'Cabin', FontAwesome; }

.form_div form > * {
  padding-left: 23px;
  padding: 10px 10px;
  margin-bottom: 5px; }

.form_div form > [type=submit] {
  margin-top: 4px; }

.form_div > * {
  padding: 5px 0; }

.contact_info {
  border-top: 1px solid black;
  padding-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.contact_info > * {
  padding: 5px 0; }

@media screen and (min-width: 400px) {
  .wrapper_contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 70%;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    margin: 0 auto; } }

@media screen and (min-width: 600px) {
  .wrapper_contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 60%;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    margin: 0 auto; } }

@media screen and (min-width: 800px) {
  .contact_info {
    border-top: none; }
  .wrapper_contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 80%;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .wrapper_contact > * {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40%;
    flex: 1 1 40%; }
  .form_div h4 {
    margin: 5px; }
  .contact_info {
    padding: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center; }
  .contact_info .follow_us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
  address {
    padding-top: 6px; } }

@media screen and (min-width: 1200px) {
  .wrapper_contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 60%;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; } }
